<div class="message__wrapper"> 
  <div class="messages">
    <div class="messages-image"></div>
    <ul class="messages-nav">
      <li><%= @customer.name%> 様</li>
      <li><%=link_to "log-out", destroy_customer_session_path,method:'delete'%></li>
      <li><%=link_to "top", root_path%></li>
    </ul>

    <div class="messages-main">
      <div class="messages-main__chat">
        <%= render @messages%>
      </div>
      <div class="main__user">
      </div>
    </div>
    <%= form_with model:[@customer, @message],id:'message_form' do |f|%> 
      <div class="messages-form">
        <%= f.text_area :text ,placeholder:"message" ,class:'messages-form-text'%>
        <%= f.file_field :text ,class:'messages-form-file'%>
        <%= f.submit '送信' ,id:'messages-form-btn'%>
        <%if admin_user_signed_in?%>
          <%= f.file_field :image ,id:'messages-form-image'%>
        <% end %>
    </div>
    <%end%>
  </div>
</div>
