<%= form_with model:@product, local: true do |f|%> 
  <div class="form">
    <div class="form__container">
      <div class="form__content">
        <%=f.label :name ,"name",class:"label"%>
        <%= f.text_field :name ,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :text ,"text",class:"label"%>
        <%= f.text_area :text,class:"input"%>
      </div>
      <div class="main__image image_form">
        <p>main-image</p>
        <div class="main__image-select">
        </div> 
          <%=f.label :image ,class:"main__image-select-label",data:{index:"0"} do%>
            <%= f.file_field :image ,class:"file_field"%>
          <% end %>

      </div>
        <p class="works_heading"> works-image </p>
        <div class="works__image">
          <div class="works_output_area">
            
          </div>

          <div class="works_input_area">
            <%=f.fields_for :works do |image|%>
              <%=image.label :image ,class:"works_input",data:{index:"0"} do%>
                <%= image.file_field :image ,class:"works_file_field"%>
              <%end%>
            <% end %>
          </div>
        </div>
         <p>⬆ここをクリックして写真を添付</p>

      <div class="form__content">
        <%=f.label :date ,"竣工年月日",class:"label"%>
        <%= f.date_select :date,{use_two_digit_numbers:true},class:"input date"%>
      </div>
      <div class="form__content">
        <%=f.label :place ,"所在地",class:"label"%>
        <%= f.text_field :place,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :purpose ,"主要用途",class:"label"%>
        <%= f.text_field :purpose,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :scale ,"構造規模",class:"label"%>
        <%= f.text_field :scale,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :site_area ,"敷地面積",class:"label"%>
        <%= f.text_field :site_area,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :building_area ,"建築面積",class:"label"%>
        <%= f.text_field :building_area,class:"input"%>
      </div>
      <div class="form__content">
        <%=f.label :architectural_area ,"延べ床面積",class:"label"%>
        <%= f.text_field :architectural_area,class:"input"%>
      </div>
      <%= f.submit "send" ,class:"buttom"%>
    </div>
  </div>
<%end%>

