<div class="show">
  <div class="show__data">
    <ul class="show__data-top">
      <li>所在地：<%= @product.place%></li>
      <li>竣工年月日：<%= @product.date.strftime('%Y/%m/%d')%></li>
    </ul>
    <ul class="show__data-bottom">
      <li>主要規模：<%= @product.purpose%></li>
      <li>構造規模：<%= @product.scale%></li>
      <li>敷地面積：<%= @product.site_area%>m2</li>
      <li>建築面積：<%= @product.building_area%>m2</li>
      <li>延べ床面積：<%= @product.architectural_area%>m2</li>
      <%= link_to "edit", edit_product_path(@product)%>
    </ul>
  </div>
    <div class="show__slide">
      <div class="show__slide-wrapper">
        <i class="fas fa-caret-square-left prev"></i>
        <i class="fas fa-caret-square-right next"></i>
        <%@product.product_images.each_with_index do |image, i|%>
          <%= image_tag image.src.url ,class:'show__image',data:{index:i}%>
        <% end %>
      </div>
      <ul class="show__slide__bar">
        <%@product.product_images.each_with_index do |image, i|%>
          <li><%= image_tag image.src.url, class:"show__bar-image" ,data:{index:i}%></li>

        <% end %>
      </ul>
    </div>
</div> 

