<%= render 'layouts/nav'%>
<div class="product">

</div>

<div class="top">
  <div class="top__screen">
    <div class="top__screen-title">
      <h1>子どもの心に残る<br>
          空間づくりを</h1>
    </div>
  </div>
  <div class="top__image">
  <div class='reflection'></div>

      <%=image_tag '/colored.jpg', class:'hand-writing'%>
  </div> 

  <div class="top__slide">
    <div class="top__slide-frame ">
      <% @products.each do |product| %>
        <div class="top__slide-frame-heading">
        </div>
        <div class="heading-name"><%=product.name %></div>
        <div class="heading-title"><%=product.text%></div>

        <%=image_tag product.image.url, class:"top__slide-frame-image image-style"%>
      <%end%>
    </div>
  </div>

</div>

<div class="works">
  <div class="cards">
  <%= render @products %>    
  </div>
</div>


<h3 class="section float">about</h3>
<h3 class="section float">flow</h3>




