<div class="products">
  <%= render 'layouts/nav'%>
  <section class='top'>
    <div class="top__left">
      <div class="top__left-message">
        <%# THANK<br>
        YOU<br>
          FOR<br>
          WATCHING %>
      </div>
    </div>
    <div class="top__card">
       <div class="top__card-letter">
        子どもの<span>心に残る</span>空間作りを約束します
       </div>

      <div class="top__card-message">
        <div class="card_message">
        光の匂い、<br>
        音の便り、<br>
        風の声、<br>
        全て、<br>
        priceless
        </div>
      </div>
      <div class="top__card-image">
            <div class='reflection'></div>

        <%=image_tag "/空消しpng.png" ,class:"hand_writing_first"%>
        <div class='mask'>
          <%=image_tag "/空消しpng.png" ,class:"hand_writing_second"%>
        </div>
      </div>
  </div>


  </section>
    <h3 class="works__heading">
    </h3>
  <section class="works">
    <div class="works__left">
      <div class="works__slide">
        <% @products.each do |product|%>
          <div class="works__slide-message">
              <div class="title"><%= product.name%></div>
          </div>
          <%= image_tag product.image.url,class:"works__slide-image"%>
        <%end%>
      </div>

        <ul class="works__left-bar">
          <% @products.each do |product|%>
            <%= link_to product_path(product),remote:true do%>
              <li>
                <div class="masking">飛鳥村</div>
                <%= image_tag product.image.url ,class:"works__left-bar-image"%>
              </li>
            <% end %>
          <%end%>
        </ul>
    </div>

    <div class="works__box">
        <div class="works__box-dummy"></div>

      <h2>works</h2>
      <p class="works-text">
        多分これは縄文時代に作った遺跡をリフォームして、現代風に変えた建築物。入り口がたて穴なのが興味をそそります。あと屋根には登れません。
      </p>
    </div>
  </section>
  <h3></h3>

  <section class="about">
    <div class= "container">
      <div class="about__left">
        <h2 class="about__left-heading">
        profile
        </h2>
        <div class="profile">
          <div class="profile__frame">
            <%= image_tag "/images/IMG_0139.jpg" ,class:"profile__frame-image"%>
          </div>
          <div class="profile-text">
            大阪府在住<br>
            フットサルたまにしてます<br>
            一級建築士<br>
            座右の銘<br>
            急がば回れ
          </div>
        </div>
      </div>
      <div class="about__right">
      </div>
    </div>
  </section>
  <section class="contact">
  <div class="login-btn">contact<div>
  </section>
</div>