<%= render 'layouts/nav'%>
<div class="top">
  <div class="top__screen">
    <div class="top__screen-title">
      <p>子どもの心に残る</p>
      <p>空間づくりを</p>
      <div class="dot"></div>
    </div>
  </div>
  <div class="top__image">
  <%=image_tag '/IMG_0133.png'%>
  </div> 

  <div class="top__slide">
    <div class="top__slide-frame">
      <% @products.each do |product| %>
        <div class="top__slide-frame-heading">
        </div>
        <div class="heading-virtical"></div>
        <div class="heading-cross"></div>
        <div class="heading-name"><%=product.name %></div>
        <div class="heading-title"><%=product.title%></div>

        <%=image_tag product.image.url, class:"top__slide-frame-image"%>
      <%end%>
    </div>
  </div>

</div>

<%# works %>
<div class="works">
  <%# <h2>Works</h2> %>
  <div class="cards">
  <%= render @products %>    
  </div>
</div>

<%= form_with model:@user do |f|%>
  <div class="contact">
    <h3>contact</h3>
      <%=f.label :name ,"name",class:"label"%>
      <%= f.text_field :name ,class:"input"%>

      <%=f.label :title ,"email",class:"label"%>
      <%= f.text_field :email,class:"input"%>

      <%=f.label :text ,"password",class:"label"%>
      <%= f.text_field :password,class:"input"%>


      <%= f.submit "send" ,class:"buttom"%>
  </div>
<%end%>



<h3>about</h3>
<h3>flow</h3>




