<div class="products">
  <%= render 'layouts/nav'%>
  <section class='top'>
    <h4 class="top__message"><span>光</span>を感じる</h4>
    <h4 class="top__message"><span>緑</span>を感じる</h4>
    <h4 class="top__message"><span>水</span>を感じる</h4>
    <h4 class="top__message"><span>人</span>を感じる</h4>

    <div class="top__left">
    </div>

    <div class="top__card">
       <div class="top__card-letter">
        子どもの<span>心に残る</span>空間作りを約束します
       </div>

      <div class="top__card-image">
          <div class='reflection'></div>
        <%=image_tag "/スケッチ.png" ,class:"hand_writing"%>
      </div>
    </div>
  </section>

    <h3 class="works__heading">
    </h3>
  <section class="works">
    <div class="works__left">
      <div class="works__slide">
      <div class="works__slide-message"> </div>



        <% @products.each do |product|%>
              <div class="title"><%= product.name%></div>
          <%= image_tag product.image.url,class:"works__slide-image"%>
          <%# <%= product.name%>
        <%end%>
      </div>

        <ul class="works__left-bar">
          <% @products.each do |product|%>
            <%= link_to product_path(product),remote:true do%>
              <li>
                <div class="masking"><%= product.name%></div>
                <%= image_tag product.image.url ,class:"works__left-bar-image"%>
              </li>
            <% end %>
          <%end%>
        </ul>
    </div>

    <div class="works__box">
        <div class="works__box-dummy"></div>

      <h2 class="works__box-name">works</h2>
      <p class="works-text">
        多分これは縄文時代に作った遺跡をリフォームして、現代風に変えた建築物。入り口がたて穴なのが興味をそそります。あと屋根には登れません。
      </p>
    </div>
  </section>
  <h3></h3>

  <section class="about">
    <%= image_tag "/プロフィール1.png"%>

  </section>
  
  <section class="contact">
  <div class="login-btn">contact<div>
  </section>
</div>