<div class="products">
      <div class='container'>
    <%= render 'layouts/nav'%>
    <div class="top">
      <div class="top__screen">
        <div class="top__screen-title">
          <h1>子どもの心に残る<br>
              空間づくりを</h1>
        </div>
      </div>
      <div class="top__image">
      <div class='reflection'></div>

          <%=image_tag '/1909028手書き最新.jpg', class:'hand-writing'%>
      </div> 

      <div class="top__slide">
        <div class="top__slide-frame ">
          <% @products.each do |product| %>
            <div class="top__slide-frame-heading">
            </div>
            <div class="heading-name"><%=product.name %></div>
            <div class="heading-title"><%=product.text%></div>

            <%=image_tag product.image.url, class:"top__slide-frame-image image-style"%>
          <%end%>
        </div>
      </div>

    </div>

    <div class="works">
      <h3>works</h3>
      <div class="cards">
      <%= render @products %>    
      </div>
    </div>

    <section class="business">
      <h3 class="section float">事業内容</h3>
      <div class="circles">
        <div class="circle">
        住宅
        </div>
        <div class="circle">
        共同住宅
        </div>
        <div class="circle">
          店舗
        </div>
        <div class="circle">
          子どもの感性を育む建築作り
        </div>
        <div class="circle">
          新築増改築
        </div>
        <div class="circle">
        心を踊ることなら何でも
        </div>
        <div class="circle">
        現場管理
        </div>
        <div class="circle">
        開発許可
        </div>
        <div class="circle">
        各種申請
        </div>
      </div>
    </section>
    <section class="about">
      
    </section>
    <section class="about">
      <h3 class="section float">Profile</h3>
        <div class="">

        </div>  
        <div class="">

        </div>  

        <div class="">

        </div>  

    </section>





  </div>
</div>



