<!DOCTYPE html>
<html>
  <head>
    <title>Architect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre|NTR&display=swap" rel="stylesheet"> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript"
      src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  </head>

  <body>
  <% if admin_user_signed_in?%>
    <%= link_to "管理画面へ", admin_root_path,class:"admin_path"%>
  <% end%>
    <%= yield %>
  </body>
</html>
